.main {
  height: 5rem;
  background-color: #3c4048;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 685px) {
  .main {
    justify-content: space-between;
    padding: 1.5rem;
  }
}
