.main {
  color: black;
  text-align: center;
  background-color: white;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.main h2 {
  width: 44%;
}

.main p {
  width: 46%;
}
